
@media only screen and (min-width: 700px) {
    .wrapper {
        background: black;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "header header header"
        "box1 box2 box3"
        "box4 box5 box6"
        "footer footer footer";
    }

    .main-head {
        grid-row: 1 / span 2;
        color: white;
    }

    .box1 {
        grid-row: 5 / span 4;
        color: white; 
        text-align: center;
        margin-left: 25px;
        margin-right: 25px;
    }
    .box2 {
        grid-row: 5 / span 4;
        color: white; 
        text-align: center;
        margin-left: 25px;
        margin-right: 25px;
    }
    .box3 {
        grid-row: 5 / span 4;
        color: white; 
        text-align: center;
        margin-left: 25px;
        margin-right: 25px;
    }
    .box4 {
        grid-row: 10 / span 4;
        color: white; 
        text-align: center;
        margin-left: 25px;
        margin-right: 25px;
    }
    .box5 {
        grid-row: 10 / span 4;
        color: white; 
        text-align: center;
        margin-left: 25px;
        margin-right: 25px;
    }
    .box6 {
        grid-row: 10 / span 4;
        color: white; 
        text-align: center;
        margin-left: 25px;
        margin-right: 25px;
    }

    .end {
        grid-row: 15 / span 1;
        background: black;
        text-align: center;
        color: white;
    }

}    