.main-head {
    grid-area: header;
}
.box1 {
    grid-area: box1;
}
.box2 {
    grid-area: box2;
}
.box3 {
    grid-area: box3;
}
.box4 {
    grid-area: box4;
}
.box5 {
    grid-area: box5;
}
.box6 {
    grid-area: box6;
}

.end {
    grid-area: footer;
    z-index: 2;
}


.wrapper {
    background: black;
    display: grid;
    grid-gap: 15px;
    grid-auto-rows: minmax(50px, auto);
    justify-items: stretch;
    align-items: stretch;
}


.main-head>video {
    object-fit: cover;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
    -o-filter: blur(3px);
    filter: blur(3px);
  }
.main-head .text-overlay {
    width: 100%;
    background: #000;
    position: absolute;
    opacity: 0.4;
    z-index: 999;
}

.main-head .text-overlay .text-container {
    width: 100%;
    text-align: center;
    font-size: 2vw;
    color: yellow;
}
.box {
    position: relative;
    z-index: 2;
    padding: 5px;
    perspective: 1000px;
    background-color: transparent;
}
.box .flip-box-inner img {
    position: relative;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    cursor:pointer;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    display: block;
    background-size: 0, cover;
    /* transform-style: preserve-3d;
    transition: all 0.5s; */
  }


  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    max-height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box-inner:hover {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    max-height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-box-back { 
    max-height: 100%;
    color: rgb(248, 6, 87);
    transform: rotateY(180deg);
    font-size: 20px;
  }
  
.box .flip-box-inner .inner {
    position: absolute;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    font-size: larger;
  }

.text-overlay {
    z-index: 2;
}

